.bg-div {
	background-color: #ebeddf;
	min-height: 70vh;
}

/* ROTATE FUNCTIONALITY  */
.rotate:hover {
	animation: anime1 0.2s linear;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}
@keyframes anime1 {
	0%,
	50%,
	100% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(2deg);
	}
	75% {
		transform: rotateZ(-2deg);
	}
}